<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from view</title>
    <link rel="stylesheet" href="bulma.min.css">
</head>
<body>
    <div class="container">
        <h1 class="title is-2">Learning Serilog and Graylog</h1>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>